body {
}

.card-container {
    border: 3px solid black;
    width: fit-content;
    border-radius: 1rem;

    .card-item:first-child {
        padding: 0.5rem;
        background-color: cornflowerblue;
        color: white;
        text-align: center;
        border-bottom: 2px solid black;
        border-radius: 0.8rem;
    }

    .card-item {
        padding: 0.5rem 0rem;
        border-bottom: 2px solid black;
    }


}
.validation-message {
    color: red;
    font-weight:bold;
}